<br />
<br />

<div class="booyah-box col-xs-10 col-xs-offset-1 text-center outer">
  <br />
  <br />
  <h1 class="gold_title">Meet Tom Kelly and Steve O'Hara</h1>
  <br />
  <br />
  <div class="col-xs-10 col-xs-offset-1 text-center inner">
  <br />
  <p>
    Tom Kelly and Steve O’Hara have formed a California General Contracting 
    
    Corporation, combining our many decades of experience as craftsmen and 

contractors, project managers and builders to serve North County and the Greater 

San Diego area.
</p>
<br />
<p>
We provide general contracting services for residential and commercial 

construction projects of any scope and size. 
</p>
<br />
<p>
As hands-on craftsmen and builders we will coordinate architectural and structural 

plans with site engineering and landscape plans to procure permits and develop job 

specifications and the scope of work to be performed. 

We directly supervise every stage of construction and negotiate and administer the 

contracts with material suppliers and subcontractors for all new residential and 

commercial construction, major renovations and additions. 
</p>
<br />
<p>
With forty years of experience bringing hundreds of projects from concept to completion, you can trust us to bring your plans to fruition.
  </p>
  <br />
  </div>
  <br class="clr" />
<br />
<br />
<br />

</div>
